* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.container {
	max-width: 480px;
	margin: 0 auto;
	font-family: 'Montserrat', sans-serif;
	transition: all 200ms ease-in-out;
}
nav {
	font-size: 0.9rem;
	color: #fff;
	text-align: center;
	padding: 1.25em 1.25em;
	box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
	background-color: #f55a5a;
}

.card {
	font-size: 0.75rem;
	display: flex;
	justify-content: space-evenly;
	margin: 1.88em 1em;
}
.card-image {
	width: 40%;
	border-radius: 9px;
}
.card-body {
	height: 170px;
	margin: 0 0 0 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.location {
	font-size: 0.64rem;
	line-height: 1.5;
	color: #2b283a;
	font-weight: 400;
	text-transform: uppercase;
}
.location-icon {
	color: #f55a5a;
	width: 7px;
}
.maps a {
	color: #918e9b;
	text-decoration: none;
	margin-left: 0.63em;
}
.card-title {
	color: #2b283a;
	font-size: 1.56rem;
	font-weight: 700;
}
.date {
	font-size: 0.64rem;
	color: #2b283a;
}
.description {
}
input {
	margin: 1.88em 1em 0;
	width: 93%;
	border-radius: 6px;
	padding: 0.88em 0.88em;
	border: 1px solid #ddd;
	color: #333;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}
footer {
	font-size: 0.64rem;
	text-align: center;
	color: #918e9b;
	padding: 20px;
}
footer a {
	text-decoration: none;
	color: darkslateblue;
}
@media (min-width: 490px) {
	.container {
		max-width: 600px;
		margin: 1.66em auto;
		border: 1px solid #918e9ba;
		border-radius: 9px;
		box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
	}
	nav {
		border-radius: 9px 9px 0 0;
	}
}
